body, html {
  color: #fff;
  margin: 0 auto;
  overflow-y: hidden;
}

.cursor_red {
  cursor: url('./assets/img/cursor_red.png'), auto;
}

.cursor_blue {
  cursor: url('./assets/img/cursor_blue.png'), auto;
}

.cursor_purple {
  cursor: url('./assets/img/cursor_purple.png'), auto;
}

.cursor_green {
  cursor: url('./assets/img/cursor_green.png'), auto;
}

@font-face {
  font-family: ajkthx;
  src: url(./assets/fonts/LOVES.ttf);
}

$font: ajkthx;

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

@mixin easeinout($sec) {
  -webkit-transition: all $sec ease-in-out;
  -moz-transition: all $sec ease-in-out;
  -o-transition: all $sec ease-in-out;
  transition: all $sec ease-in-out;
}

@mixin boxshadow($a, $b, $c, $d, $e, $x, $y, $z) {
  -webkit-box-shadow: $a $b $c $d rgba($x,$y,$z,$e);
  -moz-box-shadow: $a $b $c $d rgba($x,$y,$z,$e);
  box-shadow: $a $b $c $d rgba($x,$y,$z,$e);
}

video {
  border-radius: 6px;
}

::selection {
  background: rgba(0,0,0,.8);
}

::-moz-selection {
  background: rgba(0,0,0,.8);
}

.stretch {
  height: 100vh;
}

.height {
  height: 100vh;
}

.App {
  height: auto;
  width: 100%;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 1;
}

.topbar_content {
  width: 100%;
  background-color: rgba(0,0,0,.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 2;
  @include easeinout(.2s);
  @include boxshadow(0px, 2px, 5px, 0px, .5, 20, 20, 20);

  &:hover {
    background-color: rgba(0,0,0,.8);
    @include boxshadow(0px, 2px, 5px, 0px, .8, 20, 20, 20);
    @include easeinout(.2s);
  }
}

.glass-content {
  background-color: rgba(255, 255, 255, 0.3);
}

.wrap {
  height: 100vh;
  width: auto;
  position: relative;
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-position: center top; 
  background-size: cover;
  height: 100vh;
  text-align: left;
  overflow: hidden;
  color: #fff;
  opacity: 1;
}

.background1 {
  background-image: url('./assets/img/spacebois_png.png');
}

.background2 {
  background-image: url('./assets/img/render_pp_dragon.png');
}

.background3 {
  background-image: url('./assets/img/citystreet.png');
}

.background4 {
  background-image: url('./assets/img/cube.png');
}

.content {
  height: calc(100% - 110px);
  margin-top: 70px;
}

.topbar_logo {
  margin-left: 15px;
  margin-top: 12px;
  height: 100%;
  width: 237px;
  float: left;
  background-image: url('./assets/img/logo.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.topbar_right {
  height: calc(100% - 20px);
  float: right;
  margin-right: -15px;
  padding-top: 20px;
}

.bottombar {
  background-color: rgba(0,0,0,.8);
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  @include boxshadow(0px, 0px, 2px, 0px, .5, 20, 20, 20);
  padding-left: 5px;
}

.borderbot_red {
  border-bottom: 3px solid rgba(219,41,33,1);
}

.bordertop_red {
  border-top: 3px solid rgba(219,41,33,1);
}

.borderbot_green {
  border-bottom: 3px solid rgba(225,247,122,1);
}

.bordertop_green {
  border-top: 3px solid rgba(225,247,122,1);
}

.borderbot_blue {
  border-bottom: 3px solid rgba(132,191,186,1);
}

.bordertop_blue {
  border-top: 3px solid rgba(132,191,186,1);
}

.borderbot_purple {
  border-bottom: 3px solid rgba(166,136,212,1);
}

.bordertop_purple {
  border-top: 3px solid rgba(166,136,212,1);
}

.bottombar {
  img {
    height: 34px;
    margin-top: 3px;
    opacity: 1;
    @include easeinout(.2s);
    margin-right: 5px;
  }
}

.thumb-vertical {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: inherit;
  background-color: #aa3131;
}

.thumb-vertical-blue {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: inherit;
  background-color: #58b2aa;
}

.thumb-vertical-green {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: inherit;
  background-color: rgba(225,247,122,1);
}

.track-vertical {
  position: absolute;
  width: 6px;
  display: block !important;
  right: 2px;
  bottom: 2px;
  top: 2px;
  border-radius: 3px;
  margin-top: 70px;
}

.button {
  float: left;
  width: auto;
  height: calc(70px - 20px);
  margin-right: 50px;
  font-family: $font;
  text-justify: right;
  font-size: 18px;
  @include easeinout(.3s);
}

.button_text {
  text-align: right;
  width: 100%;
}

.button_line_red {
  height: 5px;
  width: calc(100% + 20px);
  margin-left: -20px;
  background-color: #b54843;
  margin-top: 3px;
  @include easeinout(.1s);
}

.button_line_green {
  height: 5px;
  width: calc(100% + 20px);
  margin-left: -20px;
  background-color: #aebb71;
  margin-top: 3px;
  @include easeinout(.1s);
}

.button_line_purple {
  height: 5px;
  width: calc(100% + 20px);
  margin-left: -20px;
  background-color: #8970af;
  margin-top: 3px;
  @include easeinout(.1s);
}

.button_line_blue {
  height: 5px;
  width: calc(100% + 20px);
  margin-left: -20px;
  background-color: #58b2aa;
  margin-top: 3px;
  @include easeinout(.1s);
}

.button:hover {
  font-weight: bold;
  @include easeinout(.1s);
}

.button:hover {
  .button_line_red {
    width: calc(100% + 30px);
    margin-left: -30px;
    @include boxshadow(0px, 0px, 30px, 5px, 1, 219, 41, 33);
  }

  .button_line_green {
    width: calc(100% + 30px);
    margin-left: -30px;
    @include boxshadow(0px, 0px, 30px, 5px, 1, 225, 247, 122);
  }

  .button_line_purple {
    width: calc(100% + 30px);
    margin-left: -30px;
    @include boxshadow(0px, 0px, 30px, 5px, 1, 166, 136, 212);
  }

  .button_line_blue {
    width: calc(100% + 30px);
    margin-left: -30px;
    @include boxshadow(0px, 0px, 30px, 5px, 1, 132, 191, 186);
  }
}

.button_active {
  float: left;
  width: auto;
  height: calc(70px - 20px);
  margin-right: 50px;
  font-family: $font;
  text-justify: right;
  font-size: 18px;
  font-weight: bold !important;
}

.button_line_red_active {
  height: 5px;
  width: calc(100% + 30px);
  margin-left: -30px;
  background-color: #b54843;
  margin-top: 3px;
  width: calc(100% + 30px);
  margin-left: -30px;
  @include boxshadow(0px, 0px, 30px, 5px, 1, 219, 41, 33);
}

.button_line_green_active {
  height: 5px;
  width: calc(100% + 30px);
  margin-left: -30px;
  background-color: #aebb71;
  margin-top: 3px;
  width: calc(100% + 30px);
  margin-left: -30px;
  @include boxshadow(0px, 0px, 30px, 5px, 1, 225, 247, 122);
}

.button_line_purple_active {
  height: 5px;
  width: calc(100% + 30px);
  margin-left: -30px;
  background-color: #8970af;
  margin-top: 3px;
  width: calc(100% + 30px);
  margin-left: -30px;
  @include boxshadow(0px, 0px, 30px, 5px, 1, 166, 136, 212);
}

.button_line_blue_active {
  height: 5px;
  width: calc(100% + 30px);
  margin-left: -30px;
  background-color: #58b2aa;
  margin-top: 3px;
  width: calc(100% + 30px);
  margin-left: -30px;
  @include boxshadow(0px, 0px, 30px, 5px, 1, 132, 191, 186);
}

.resume {
  margin: auto;
  width: 100%;
  opacity: .8;
  height: 100%;
}

.botbar_left {
  float: left;
  height: 100% !important;
}

.bblbutton {
  height: 32px;
  margin-top: 4px;
  border-radius: 4px;
  padding-left: 9px;
  padding-right: 5px;
  line-height: 32px;
  color: #000000;
  font-weight: bold;
  @include boxshadow(0px, 0px, 2px, 0px, 1, 20, 20, 20);
  @include easeinout(.2s);
  opacity: .8;
  float: left;
  margin-right: 6px;
  &:hover {
    @include easeinout(.2s);
    opacity: 1;
  }
  img {
    height: 18px;
    margin-top: 7px;
  }
}

.bblred {
  background-image: linear-gradient(#aa3131, #a8443f);
}

.bblgreen {
  background-image: linear-gradient(#aebb71, #d2e96d);
}

.bblblue {
  background-image: linear-gradient(#58b2aa, #77e9df);
}

.bblpurple {
  background-image: linear-gradient(#ac74ff, #8970af);
}

.botbar_right {
  float: right;
  padding-right: 10px;
  font-family: $font;
  height: 40px;
  line-height: 40px;
  @include easeinout(.2s);
  &:hover  {
    @include easeinout(.2s);
  }
  div {
    float: left;
  }
  img {
    opacity: 1;
    margin-left: 10px;
  }
}

.paddingfix {
  padding-bottom: 50px;
  height: 100%;
}

.portfoliowrap {
  width: 100%;
  height: 100%;
  div {
    float: left;
    height: 100%;
  }
}

.pcat {
  padding-left: 10px;
  padding-right: 10px;
  width: calc(20% - 10px - 10px);
  font-family: $font;
  font-size: 2.2vw;
  text-align: center;
}

.pcatitem {
  width: 100%;
  margin-top: 7px;
  margin-bottom: 7px;
  height: calc(25% - 10px - 10px) !important;
  min-height: 80px;
  background: rgba(40,40,40,.8);
  border-radius: 5px;
  @include boxshadow(0px, 0px, 2px, 0px, .8, 20, 20, 20);
  @include easeinout(.2s);
  border: 2px solid rgba(219,41,33,0);
  line-height: 100%;
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.pcatitem {
  img {
    height: 80%;
    width: 100%;
    margin-top: 10px;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
  &:hover {
    margin-top: 7px;
    margin-bottom: 7px;
    min-height: 80px;
    border-radius: 5px;
    height: calc(25% - 10px - 10px) !important;
    background: rgba(0,0,0,.8);
    @include boxshadow(0px, 0px, 10px, 1px, .4, 219, 41, 33);
    @include easeinout(.2s);
    border: 2px solid rgba(219,41,33,.6);
  }
}

.pcatitem_active {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  height: calc(25% - 10px - 10px) !important;
  background: rgba(0,0,0,.8);
  @include boxshadow(0px, 0px, 10px, 1px, .4, 219, 41, 33);
  @include easeinout(.2s);
  border: 2px solid rgba(219,41,33,.6);
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.ppreview {
  width: 100%;
}

.pitem {
  width: calc(55% - 10px);
  overflow-x: hidden;
  margin-top: 10px;
  height: calc(100% - 15px) !important;
  img {
    width: calc(100%);
    border-radius: 6px;
    @include boxshadow(0px, 0px, 2px, 0px, .8, 20, 20, 20);
  }
}

.ppreviewitem {
  width: calc(100% - 14px);
  margin-top: 7px;
  margin-bottom: 7px;
  opacity: 1;
  height: calc(30% - 10px - 10px) !important;
  min-height: 150px;
  background: rgba(40,40,40,.8);
  border-radius: 5px;
  @include boxshadow(0px, 0px, 2px, 0px, .8, 20, 20, 20);
  @include easeinout(.2s);
  line-height: 100%;
  opacity: .9;
  position: relative;
  border: 2px solid #252525;

  &:before {
    background-size: cover;
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  &:hover {
    margin-top: 7px;
    margin-bottom: 7px;
    min-height: 150px;
    border-radius: 5px;
    height: calc(30% - 10px - 10px) !important;
    background: rgba(0,0,0,.8);
    @include boxshadow(0px, 0px, 10px, 1px, .4, 219, 41, 33);
    @include easeinout(.2s);
    opacity: 1;
  }
}

.ppreviewitem_active {
  width: calc(100% - 14px);
  margin-top: 7px;
  margin-bottom: 7px;
  opacity: 1;
  height: calc(30% - 10px - 10px) !important;
  min-height: 300px;
  background: rgba(40,40,40,.8);
  border-radius: 5px;
  @include boxshadow(0px, 0px, 10px, 1px, .4, 219, 41, 33);
  @include easeinout(.2s);
  line-height: 100%;
  opacity: 1;
  position: relative;
  border: 2px solid red;

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

}

.ppreviewitem_descript {
  width: calc(100% - 15px);
  height: 34px !important;
  border-radius: 0px 0px 3px 3px;
  background: rgba(40,40,40,.8);
  position: absolute;
  bottom: 0;
  line-height: 34px;
  padding-left: 15px;
  font-family: $font;
  border-top: 1px solid red;
}

.pitem_tech {
  width: calc(100% - 10px - 10px);
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(40,40,40,.8);
  height: auto !important;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.pitem_desc {
  width: calc(100% - 10px - 10px);
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(40,40,40,.8);
  height: auto !important;
  border-radius: 4px;
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Arial";
  line-height: 30px;
}

.pitem_tech_item {
  margin-right: 10px;
  float: left;
  font-family: $font;
  font-weight: bold;
}

.pitem_tech_item_circle {
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #d36a64;
  margin-right: 5px;
  @include boxshadow(0px, 0px, 15px, 1px, 1, 219, 41, 33);
}

.pitem_title {
  color: #b54843;
  text-shadow: 0px 0px 8px rgba(219,41,33, 1);
  font-size: 20px;
}

.ppreviewitem_mobilebox {
  display: none;
  width: 100%;
  height: auto !important;
  @include easeinout(.2s);
}

.ppreviewitem_mobilebox_zero {
  height: 0px !important;
  @include easeinout(.2s);
  visibility: hidden;
}

.contact {
  width: 75%;
  height: 100%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact_title_text {
  font-size: 18px;
  span {
    background: rgba(25, 25, 25, .8);
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    @include boxshadow(0px, 2px, 10px, -2px, 1, 0, 0, 0);
  }
}

.contact_title {
  font-size: 9vw;
  font-family: $font;
  width: 100%;
  text-align: center;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 1);
  margin-bottom: 20px;
}

.contact_title_number {
  float: left;
}

.contact_title_email {
  float: right;
}

.contact_form {
  input {
    width: calc(98% - 15px - 15px);
    border-radius: 6px;
    height: 50px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    background: rgba(40,40,40,.9);
    color: #ffffff;
    @include boxshadow(0px, 2px, 10px, -2px, 1, 0, 0, 0);
    font-size: 20px;
    font-family: $font;
    border: 3px solid transparent;
    @include easeinout(.1s);

    &:focus {
      outline: none;
      border: 3px solid rgba(132,191,186,1);
      @include easeinout(.1s);
    }

    &::placeholder {
      color: rgba(255,255,255,.8);
      font-style: italic;
    }
  }
}

.halfinput_left {
  width: calc(49% - 20px - 20px) !important;
  float: left;
}

.halfinput_right {
  width: calc(48% - 20px - 20px) !important;
  float: left;
  margin-left: 18px;
}

.submitbutton {
  width: 70%;
  margin: auto;
  text-align: center;
  background-color: rgba(132,191,186,.9);
  @include boxshadow(0px, 2px, 10px, -2px, .75, 0, 0, 0);
  border-radius: 6px;
  height: 50px;
  color: #000000;
  font-family: $font;
  font-size: 34px;
  padding-top: 10px;
  @include easeinout(.1s);
  border: 3px solid transparent;

  &:hover {
    background-color: rgba(0, 0, 0, .8);
    color: #ffffff;
    border: 3px solid #58b2aa;
    @include easeinout(.1s);
  }
}

.submitted {
  font-size: 60px;
  font-family: $font;
  width: calc(100% - 20px - 20px);
  text-align: center;
  margin-top: 20px;
  background: rgba(0,0,0,.8);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  @include boxshadow(0px, 2px, 10px, -2px, .75, 0, 0, 0);
}

.errormsg {
  font-size: 20px;
  width: calc(100% - 15px);
  line-height: 50px;
  background-color: rgba(219,41,33, .7);
  margin-top: 15px;
  border-radius: 6px;
  @include boxshadow(0px, 2px, 10px, -2px, .75, 0, 0, 0);
  line-height: 50px;
}

.demowrap {
  position: absolute;
  bottom: 0;
  height: 40px !important;
  margin-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
  width: calc(100% - 5px - 5px) !important;

  img {
    height: 20px;
    margin-top: 5px;
  }

  div {
    height: 30px !important;
    border-radius: 4px;
    background: #b54843;
    padding-left: 7px;
    padding-right: 7px;
    float: right !important;
    @include boxshadow(0px, 2px, 10px, -2px, .75, 0, 0, 0);
    margin-left: 5px;
    font-family: $font;
    line-height: 30px;
    @include easeinout(.1s);
  }
}

.dembutton_active {
  &:hover {
    background: #fc291d;
    @include easeinout(.1s);
  }
}

.dembutton_inactive {
  background: #5a5a5a !important;
  opacity: .7;
  text-decoration: line-through;
  @include easeinout(.1s);

  &:hover {
    opacity: .4;
  }
}

input {
  cursor: url('./assets/img/cursor_blue.png'), auto;
}

textarea {
  resize: none;
  width: calc(98% - 15px - 15px) !important;
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  background: rgba(40,40,40,.9);
  @include boxshadow(0px, 2px, 10px, -2px, .75, 0, 0, 0);
  font-size: 20px;
  font-family: $font;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 200px;
  border: 0px;
  @include easeinout(.1s);
  border: 3px solid transparent;
  cursor: url('./assets/img/cursor_blue.png'), auto;

  &:focus {
    outline: none;
    border: 3px solid rgba(132,191,186,1);
    @include easeinout(.1s);
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.aboutwrap {
  width: calc(95% - 10px - 10px);
  height: calc(100% - 10px - 10px);
  margin: auto;
  padding: 10px 10px 10px 10px;
}

.aboutwrap_left {
  float: left;
  width: 100%;
  height: calc(100% - 15px);
  background: rgba(40, 40, 40, 0.8);
  border-radius: 6px;
  margin-right: 10px;
  margin-top: 6px;
  border-bottom: 5px solid #dcf984;
  @include boxshadow(0px, 2px, 10px, -2px, .75, 0, 0, 0);
}

.aboutbutton_wrap {
  width: 100%;
  height: 50px;
  border-bottom: 3px solid #dcf984;
  font-family: $font;
  font-size: 24px;
}

.aboutbutton {
  width: 50%;
  height: calc(100% - 2px);
  float: left;
  text-align: center;
  line-height: 50px;
  font-weight: normal;
  color: #ffffff;
  @include easeinout(.2s);
  &:hover {
    height: calc(100%);
    background: rgba(220,249,132,1);
    @include easeinout(.2s);
    line-height: 50px;
    color: #111111;
  }
}

.aboutbutton_active {
  width: 50%;
  height: calc(100% - 2px);
  float: left;
  text-align: center;
  line-height: 50px;
  font-weight: normal;
  height: calc(100%);
  background: rgba(220,249,132,1);
  @include easeinout(.2s);
  color: #111111;
  font-size: 26px;
}

.aboutcontent {
  width: calc(100%);
  height: 100%;
}

.topleftradius {
  border-radius: 6px 0px 0px 0px;
}

.toprightradius {
  border-radius: 0px 6px 0px 0px;
}

.skillsitemwrap {
  height: 120px;
  width: calc(100% - 30px - 30px);
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(20,20,20,.5);
  margin-left: 10px;
}

.skillsitempic {
  height: 100%;
  float: left;
  width: 150px;
  img {
    max-height: 100%;
    max-width: 90%;
  }
}

.skillsitemright {
  height: 100%;
  float: left;
  width: calc(100% - 150px);
}

.skillsitemrighttop {
  width: 100%;
  height: 80px;
  font-family: $font;
  font-weight: bold;
  font-size: 55px;
  text-align: right;
}

.skillsitemrighttop div {
  padding-top: 20px;
}

.PCT {
  float: right;
  span {
    font-size: 40px;
  }
}

.skillsitemname {
  font-weight: normal !important;
  float: left;
}

.skillsitemrightbottom {
  width: 100%;
  height: 15px;
  background: rgba(20,20,20,.8);
  border-radius: 3px;
}

.skillsbar {
  background-color: rgba(220,249,132,.7);
  height: 100%;
  border-radius: 3px;
}

.skillsdescriptor {
  font-family: $font;
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.summarywrap {
  height: 100%;
}

.summaryleft {
  width: calc(100% - 303px - 30px - 30px);
  float: left;
  padding: 30px 30px 30px 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 24px;
  line-height: 48px;
  text-align: justify;
}

.summaryright {
  width: 300px;
  height: 100%;
  float: right;
}

.summarypic {
  width: calc(100% - 25px);
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 20px;
  img {
    width: 250px;
    border-radius: 50%;
    @include boxshadow(0px, 2px, 10px, -2px, 1, 0, 0, 0);
  }
}

.summaryrighttitle {
  width: 100%;
  text-align: center;
  font-family: $font;
  font-size: 41px;
  line-height: 24px;
  span {
    margin-top: -20px;
    font-size: 18px;
  }
}

.summaryrightinfowrap {
  width: calc(100% - 25px - 25px);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
}

.summaryrightsub {
  font-family: $font;
  font-size: 20px;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 30px;
}

.summaryrightbigtitle {
  color: rgba(220,249,132,1);
  font-size: 28px;
  font-family: $font;
  width: 100%;
  font-weight: bold;
}

.summaryhead {
  font-size: 80px;
  color: rgba(220,249,132,1);
  padding-top: 15px;
  padding-bottom: 25px;
}

.paddingfix2 {
  width: 100%;
  height: 50px;
}

div {
	-webkit-animation: text-focus-in .2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in .2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-11 4:7:44
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2019-2-11 4:5:0
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bck
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 800px) {
  .summaryhead {
    font-size: 60px !important;
  }
  .summaryrighttitle {
    display: none;
  }
  .summaryleft {
    float: none;
    width: calc(100% - 30px - 30px);
    text-align: center;
    font-size: 20px;
  }
  .summaryright {
    float: none;
    height: auto;
    margin: auto;
  }
  .summaryrightinfowrap {
    display: none;
  }
  .PCT { 
    font-size: 45px;
  }
  .skillsitemname {
    display: none;
  }
  .aboutwrap {
    width: 90%;
  }
  .errormsg {
    width: calc(100% - 10px - 10px);
    padding-left: 10px;
    padding-right: 10px;
  }
  .contact_title {
    font-size: 13vw;
    text-align: center;
  }
  .contact {
    width: 90%;
  }
  .portfoliowrap {
    height: calc(100% - 100px) !important;
  }
  .ppreviewitem_mobilebox {
    display: block;
  }
  .pitem_tech_item {
    font-size: 12px;
  }
  .button {
    margin-right: 32px;
    font-size: 13px;
  }
  .topbar_logo {
    margin-left: 15px;
    margin-top: 8px;
    height: 100%;
    width: 44px;
    float: left;
    background-image: url('./assets/img/tinylogo.png');
    background-repeat: no-repeat;
  }

  .topbar_right {
    margin-right: 0px;
  }

  .button {
    margin-right: 15px;
  }

  .button_active {
    font-size: 13px;
    margin-right: 15px;
  }

  .button_line_red, .button_line_green, .button_line_purple, .button_line_blue {
    width: 100%;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .button_line_red_active, .button_line_green_active, .button_line_purple_active, .button_line_blue_active {
    width: calc(100%);
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .button:hover {
    .button_line_red {
      width: 100%;
      margin-left: 0px;
      @include boxshadow(0px, 0px, 30px, 5px, 1, 219, 41, 33);
    }

    .button_line_green {
      width: 100%;
      margin-left: 0px;
      @include boxshadow(0px, 0px, 30px, 5px, 1, 225, 247, 122);
    }

    .button_line_purple {
      width: 100%;
      margin-left: 0px;
      @include boxshadow(0px, 0px, 30px, 5px, 1, 166, 136, 212);
    }

    .button_line_blue {
      width: 100%;
      margin-left: 0px;
      @include boxshadow(0px, 0px, 30px, 5px, 1, 132, 191, 186);
    }
  }

  .pitem {
    display: none;
    width: 0px;
    float: none !important;
  }

  .pitem_desc {
    font-size: 14px;
  }

  .pcat {
    width: 100%;
    font-size: 16px;
    float: none !important;
    height: 90px !important;
  }

  .pcatitem {
    width: 22%;
    margin-right: 5px;
    height: 70px !important;
    line-height: 0px !important;
  }

  .pcatitem:hover {
    width: 22%;
    margin-right: 5px;
    height: 80px !important;
  }

  .pcatitem_active {
    width: 22%;
    margin-right: 5px;
    height: 80px !important;
    margin-top: 7px !important;
    margin-bottom: 7px !important;
  }

  .ppreview {
    width: 100%;
    margin-left: 10px;
    margin-bottom: 500px;
  }
}

@media only screen and (max-width: 340px) { 
  .topbar_logo {
    display: none;
  }
}